<div class="hero">
<!--<iframe width="965" height="480" src="//www.youtube.com/embed/JQM5j4mFK8k?controls=0&amp;showinfo=0&amp;rel=0" frameborder="0" allowfullscreen=""></iframe>-->
<div style="margin: 20px auto; width: 700px;" ><iframe width="700" height="400" src="//www.youtube.com/embed/vlAW-dQcywU?controls=0&amp;showinfo=0&amp;rel=0" frameborder="0" allowfullscreen=""></iframe></div>
  <!--  <p class="large brandon">FoodGem is live</p>
    <p class="small brandon">Quality, Affordable, and Different food<br>right at your finger tips!</p>-->
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
    <% if Rails.application.config.ended %>
        <p class="thanks brandon">THANK YOU FOR PARTICIPATING<br>IN OUR PRE-LAUNCH.</p>
        <p class="compiling brandon">WE ARE COMPILING REWARDS RIGHT NOW AND WILL EMAIL<br/>COUPON CODES TO ALL RECIPIENTS IN THE NEXT DAY OR TWO</p>
        <p class="go-to brandon">In the meantime, head to  <a href="http://www.foodgem.com/">WWW.FOODGEM.COM</a></p>
        <p class="again brandon">Thank You Again!</p>
    <% else %>
        <p class="byline brandon" style="color: #FF9933;">FoodGem Is Launching</p>
        <p class="byline brandon">Be the first to know</p>
        <%= form_for @user, :url => { :action => "create" } do |f| %>
            <%= f.text_field :email, :placeholder => "Enter Email", :class => "email brandon" %>
            <input class="submit brandon" name="commit" type="submit" value="Step Inside" />
        <% end %>
    <% end %>
</div>


<html class="home"><!--<![endif]--><head>  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<script async="" src="//www.google-analytics.com/analytics.js"></script><script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"beacon-3.newrelic.com","errorBeacon":"bam.nr-data.net","licenseKey":"0c68ee53ba","applicationID":"3115180","transactionName":"dllXEEsJDw0EQRdGSlBESktXAxQ=","queueTime":0,"applicationTime":5,"ttGuid":"","agentToken":null,"agent":"js-agent.newrelic.com/nr-476.min.js"}</script>
<script type="text/javascript">window.NREUM||(NREUM={}),__nr_require=function(t,e,n){function r(n){if(!e[n]){var o=e[n]={exports:{}};t[n][0].call(o.exports,function(e){var o=t[n][1][e];return r(o?o:e)},o,o.exports)}return e[n].exports}if("function"==typeof __nr_require)return __nr_require;for(var o=0;o<n.length;o++)r(n[o]);return r}({QJf3ax:[function(t,e){function n(t){function e(e,n,a){t&&t(e,n,a),a||(a={});for(var c=u(e),f=c.length,s=i(a,o,r),p=0;f>p;p++)c[p].apply(s,n);return s}function a(t,e){f[t]=u(t).concat(e)}function u(t){return f[t]||[]}function c(){return n(e)}var f={};return{on:a,emit:e,create:c,listeners:u,_events:f}}function r(){return{}}var o="nr@context",i=t("gos");e.exports=n()},{gos:"7eSDFh"}],ee:[function(t,e){e.exports=t("QJf3ax")},{}],gos:[function(t,e){e.exports=t("7eSDFh")},{}],"7eSDFh":[function(t,e){function n(t,e,n){if(r.call(t,e))return t[e];var o=n();if(Object.defineProperty&&Object.keys)try{return Object.defineProperty(t,e,{value:o,writable:!0,enumerable:!1}),o}catch(i){}return t[e]=o,o}var r=Object.prototype.hasOwnProperty;e.exports=n},{}],D5DuLP:[function(t,e){function n(t,e,n){return r.listeners(t).length?r.emit(t,e,n):(o[t]||(o[t]=[]),void o[t].push(e))}var r=t("ee").create(),o={};e.exports=n,n.ee=r,r.q=o},{ee:"QJf3ax"}],handle:[function(t,e){e.exports=t("D5DuLP")},{}],XL7HBI:[function(t,e){function n(t){var e=typeof t;return!t||"object"!==e&&"function"!==e?-1:t===window?0:i(t,o,function(){return r++})}var r=1,o="nr@id",i=t("gos");e.exports=n},{gos:"7eSDFh"}],id:[function(t,e){e.exports=t("XL7HBI")},{}],loader:[function(t,e){e.exports=t("G9z0Bl")},{}],G9z0Bl:[function(t,e){function n(){var t=l.info=NREUM.info;if(t&&t.agent&&t.licenseKey&&t.applicationID&&c&&c.body){l.proto="https"===p.split(":")[0]||t.sslForHttp?"https://":"http://",a("mark",["onload",i()]);var e=c.createElement("script");e.src=l.proto+t.agent,c.body.appendChild(e)}}function r(){"complete"===c.readyState&&o()}function o(){a("mark",["domContent",i()])}function i(){return(new Date).getTime()}var a=t("handle"),u=window,c=u.document,f="addEventListener",s="attachEvent",p=(""+location).split("?")[0],l=e.exports={offset:i(),origin:p,features:{}};c[f]?(c[f]("DOMContentLoaded",o,!1),u[f]("load",n,!1)):(c[s]("onreadystatechange",r),u[s]("onload",n)),a("mark",["firstbyte",i()])},{handle:"D5DuLP"}]},{},["G9z0Bl"]);</script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Earhoox – Tell Friends, Get Rewarded</title>
  <link rel="icon" href="/assets/favicon-8a047e2db0840a1c64d9dae6612830ec.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/assets/favicon-8a047e2db0840a1c64d9dae6612830ec.ico" type="image/x-icon">

  <meta property="og:title" content="Earhoox are Here">
  <meta property="og:description" content="Can’t wait for my @earhoox, I’m upgrading my #earbuds for #free. You can too!">
  <meta property="og:image" content="/assets/home/earpods-9f729b44460a724820162f6ab3a71690.jpg">
  <meta property="og:url" content="http://launch.earhoox.com/">
  <meta property="og:site_name" content="Earhoox">

  <link href="/assets/core-9a4ab6669532c85691adbae4c1bafb7f.css" media="all" rel="stylesheet" type="text/css">
  <meta content="authenticity_token" name="csrf-param">
<meta content="vFEaBfRQCaKhszn58I7AOiR6fTfYF2bNWcgdYeTJ+sE=" name="csrf-token">
  <link href="http://fonts.googleapis.com/css?family=Fugaz+One|Oswald:400,700" rel="stylesheet" type="text/css">

      <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40475221-1', 'auto');
    ga('send', 'pageview');

  </script>



  
</head>
  <body id="home" style="zoom: 1;">

      <img alt="Bg-hooxlaunch" class="bg" src="/assets/home/bg-hooxlaunch-4353cb43545317cbcd82ea0178957137.jpg">

<div class="home-content">

  <div class="callout">
    <div class="hoox-logo">

      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="logo" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
        <path id="outer" d="M49.51 0C76.69 0 98.27 20.78 99.87 47.56c0.2 3-0.2 5.79-1.2 8.59 -1.6 4.2-5.2 6.19-9.99 5.6 -3.2-0.4-6.19-3.6-6.59-7.39 -0.6-3.6-0.2-7.19-0.8-10.59 -3.2-14.99-16.58-25.78-32.37-25.58 -14.59 0.2-27.78 11.79-30.17 26.38 -3.2 19.18 11.19 36.57 30.58 37.17 3 0 5.79-0.4 8.79-1 1.4-0.4 2.8-0.6 4.4-0.6 4.2 0 7.4 2 8.39 5.6 1.4 4.2 0 7.99-3.4 10.39 -4.4 3-9.39 3.6-14.39 3.8 -24.38 1.4-45.56-14.39-51.56-37.97C-5.64 33.37 14.34 4 43.52 0.6 45.72 0.2 47.71 0 49.51 0z"></path>
        <path id="inner" d="M34.92 49.76c0-8.39 6.8-14.99 15.19-14.79 8.39 0 14.99 6.8 14.99 15.19 0 8.19-6.79 15.19-15.19 14.99C41.52 64.94 34.92 58.35 34.92 49.76z"></path>
      </svg>

    </div>
    <h1>Earhoox have arrived</h1>
    <h4>Your earbuds sucked. <span>Until now.</span></h4>
  </div>

  <div class="form-wrap ">
      <div class="form">
      <form accept-charset="UTF-8" action="/users/create" class="new_user" id="new_user" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="vFEaBfRQCaKhszn58I7AOiR6fTfYF2bNWcgdYeTJ+sE="></div>
        <div class="form-group">
          <input class="email" id="user_email" name="user[email]" placeholder="Enter Email" size="30" type="text">
          <input class="btn btn-primary submit" name="commit" type="submit" value="Show Me">
        </div>
</form>      </div>

      <div class="countdown">
      
      <script type="text/javascript">
            //######################################################################################
            // Author: ricocheting.com
            // Version: v2.0
            // Date: 2011-03-31
            // Description: displays the amount of time until the "dateFuture" entered below.

            // NOTE: the month entered must be one less than current month. ie; 0=January, 11=December
            // NOTE: the hour is in 24 hour format. 0=12am, 15=3pm etc
            // format: dateFuture1 = new Date(year,month-1,day,hour,min,sec)
            // example: dateFuture1 = new Date(2003,03,26,14,15,00) = April 26, 2003 - 2:15:00 pm

            dateFuture1 = new Date(2014,9,20,20,00,00);

            // TESTING: comment out the line below to print out the "dateFuture" for testing purposes
            //document.write(dateFuture +"<br />");


            //###################################
            //nothing beyond this point
            function GetCount(ddate,iid){

                dateNow = new Date();   //grab current date
                amount = ddate.getTime() - dateNow.getTime();   //calc milliseconds between dates
                delete dateNow;

                // if time is already past
                if(amount < 0){
                    document.getElementById(iid).innerHTML="Now!";
                }
                // else date is still good
                else{
                    days=0;hours=0;mins=0;secs=0;out="";

                    amount = Math.floor(amount/1000);//kill the "milliseconds" so just secs

                    days=Math.floor(amount/86400);//days
                    amount=amount%86400;

                    hours=Math.floor(amount/3600);//hours
                    amount=amount%3600;

                    mins=Math.floor(amount/60);//minutes
                    amount=amount%60;

                    secs=Math.floor(amount);//seconds

                    if(days != 0){out += days +" "+((days==1)?"day":"days")+", ";}
                    if(hours != 0){out += hours +" "+((hours==1)?"hour":"hours")+", ";}
                    out += mins +" "+((mins==1)?"min":"mins")+", ";
                    out += secs +" "+((secs==1)?"sec":"secs")+", ";
                    out = out.substr(0,out.length-2);
                    document.getElementById(iid).innerHTML=out;

                    setTimeout(function(){GetCount(ddate,iid)}, 1000);
                }
            }

            window.onload=function(){
                GetCount(dateFuture1, 'countbox1');
                //you can add additional countdowns here (just make sure you create dateFuture2 and countbox2 etc for each)
            };
        </script>
        Time remaining: <div id="countbox1">Now!</div>
        </div>

  </div>
</div>

  <script src="/assets/application-e55d44b9afb6a42b8387354e589b57c0.js" type="text/javascript"></script>
  
<script src="http://js-agent.newrelic.com/nr-476.min.js"></script><script type="text/javascript" src="http://beacon-3.newrelic.com/1/0c68ee53ba?a=3115180&amp;pl=1413602128917&amp;v=476.c73f3a6&amp;to=dllXEEsJDw0EQRdGSlBESktXAxQ%3D&amp;ap=5&amp;fe=3467&amp;dc=1384&amp;f=%5B%5D&amp;jsonp=NREUM.setToken"></script><script src="http://js-agent.newrelic.com/nr-476.min.js"></script><script type="text/javascript" src="http://beacon-3.newrelic.com/1/0c68ee53ba?a=3115180&amp;pl=1415343968588&amp;v=476.c73f3a6&amp;to=dllXEEsJDw0EQRdGSlBESktXAxQ%3D&amp;ap=5&amp;f=%5B%5D&amp;jsonp=NREUM.setToken"></script></body></html>